.tw-follow-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.tw-follow-card:hover {
    background: #1a1a1a;
    border-radius: 2rem;
}

.tw-perfile {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tw-perfile-img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.tw-perfile-description {
    display: flex;
    flex-direction: column;
}

.tw-perfile-description strong {
    font-size: 15px;
}

.tw-perfile-description span {
    font-size: 13px;
}

.tw-button-follow {
    border: 0;
    padding: .3rem 1.1rem;
    background: white;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease background-color;
}

.tw-button-follow:hover {
    background: #48e;
}

.tw-button-follow.is-following {
    border: 1ps solid rgb(212, 42, 42);
}

.tw-button-follow.is-following:hover {
    background: rgb(212, 42, 42);
}

.tw-button-follow a {
    text-decoration: none;
    color: #111;
}